* {
  font-family: "Outfit", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: url("images/background2.png");
  background-position: 0, -100%;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.menu-list {
  list-style-type: none;
  margin: 0;
  margin-right: 100px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header {
  margin-left: 20px;
}

.menu-item {
  font-size: 20px;
}

.menu-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.menu-link:hover::after {
  width: 100%;
  transition: width .3s;
}

.first {
  justify-self: flex-start;
  margin-left: 0;
  font-size: 28px;
  letter-spacing: 0.5px;
  font-weight: normal;
  margin-right: auto;
  padding: 0;
}

.menu-link {
  color: black;
  font-size: medium;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 10px 15px;
  margin-left: 50px;
}

.content-flow {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: auto;
  width: 500px;
  height: 450px;
  background: #FFFFFF;
  border: 5px solid #4E35EB;
  border-radius: 90px;
  box-shadow: -30px 10px 5px #4E35EB;
}

.flow-header {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  color: black;
  font-size: 30px;
}

.playlist-url {
  display: flex;
  align-self: center;
  color: black;
  width: 70%;
  text-align: left;
  border: 3px solid #4E35EB;
  border-radius: 10px;
  height: 40px;
  padding: 10px;
}

.youtube-logo {
  margin-top: -50px;
  height: 250px;
  width: 300px;
}

#playlist-button {
  color: white;
  border: 3px solid #4E35EB;
  border-radius: 10px;
  background-color: #4E35EB;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 150px;
  height: 38px;
  margin: auto;
}

#playlist-button:hover {
  background-color: red;
  cursor: pointer;
  animation: pulse 3s infinite;
  color: white;
  border: 3px solid black;
}

#playlist-button:active {
  background-color: #323232;
}